<ion-header>
  <ion-toolbar>
    <ion-title>
      Translator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input placeholder="Text for translation..."></ion-input>

  <ion-button (click)="btnTranslateClicked()" expand="block">
    Translate
  </ion-button>

  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Translation result:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      Vstup <ion-icon name="arrow-forward"></ion-icon>  Vystup
    </ion-card-content>
  </ion-card>
</ion-content>
